@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Press Start 2P", sans-serif;
    --secondary-font:"Roboto", sans-serif;
    --primary-color:#d5dced;
    --secondary-color:#0dbffe; 
    }

    /* Global styles */

    body {
        font-family: var(--secondary-font);
    }

    #logo {
        font-family: var(--primary-font);
        font-size: 6rem;
        text-align: center;
        color: #ff1900 ; /*Scarlet(red)*/
    }

    h1,
    h2,
    h3,
    h4 {
        padding-top: 20px;
        text-align: center;
    }

    p {
        margin-left: 20px;
        text-align: center;
    }
    
    html, body {
        height: 100%;
        margin: 0;
    }

    .page-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .content-wrap {
        flex: 1;
    }
  /*Home page*/
   .main-container {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

   .main-container h2 {
    padding-bottom: 0;
   }

    #start-quiz-button {
        padding-top: 50px;
    }

    /*About us page*/
    .about-us-section {
        padding-bottom: 15px;
    }

   #quiz-activites {
    padding-top: 10px;
    background-color: var(--primary-color);
    padding-bottom: 30px;
   }

   .card-title {
    text-align: center;
   }

   /*Quiz game page*/
   .question {
    font-size: 250%;
    font-weight: bold;
    color: #ff1900 ;
    padding-top: 30px;
    text-align: center;
   }

   .options {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;

   }

   .answer {
    text-align: center;
    font-weight: 200%;
    color: #000;
   }


   #quiz-game-next {
    margin-bottom: 50px;
   }

   


   /*Contact us page */
    #form {
        background-color: var(--primary-color);
    }
        
    #contact-us-form {
            width: 400%;
            max-width: 800px;
            margin: 0 auto; /* horizontal centering */
          }

    #form-submit-button {
        margin-top: 30px;
        padding-bottom: 30px;
    }
    

   /*Footer*/
#social-medias {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    }

    #social-medias i {
        color: #000
    }