@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Press Start 2P", sans-serif;
    --secondary-font:"Roboto", sans-serif;
    --primary-color:#d5dced;
    --secondary-color:#0dbffe; 
    }

    /* Global styles */

    body {
        font-family: var(--secondary-font);
    }

    .logo-homepage {
        font-family: var(--primary-font);
        font-size: 6rem;
        text-align: center;
        color: var(--secondary-color) ;
    }

    #logo {
        font-size: 1rem;
        font-family: var(--primary-font);
        color: var(--secondary-color);
    }

    h1,
    h2,
    h3,
    h4 {
        padding-top: 20px;
        text-align: center;
    }

    p {
        margin-left: 20px;
        text-align: center;
        font-size: 80%;
    }
    
    html, body {
        height: 100%;
        margin: 0;
    }

    .page-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .content-wrap {
        flex: 1;
    }
  
    /*Home page*/
   .index-page {
    background-color:var(--primary-color);
   }
  
   .main-container {
    display: flex;
  flex-direction: column;
  justify-content: center;   /* vertical centering */
  align-items: center;       /* horizontal centering */
  min-height: 100vh;  
  text-align: center;
   }

   .main-container h2 {
    padding-bottom: 0;
   }

  #startQuizBtn {
    font-weight: bolder;
  }

    /*About us page*/
    .about-us-section {
        padding-bottom: 15px;
    }

   #quiz-activites {
    padding-top: 10px;
    background-color: var(--primary-color);
    padding-bottom: 30px;
   }

   .card-title {
    text-align: center;
   }

   .card-img-top {
    height: 300px;
    object-fit: cover;
  }

   /*Quiz game page*/

   #timer {
    color: #ffffff;
    background-color: #000000;
    font-size: 3rem;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.2);
    width: fit-content;
    text-align: center;
   }
   
   .question {
    font-size: 250%;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
   }

   #image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
   }
   
   #game-image {
    border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
   }
   
   .options {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .answer {
    text-align: center;
    font-weight: 200;
    color: #000;
   }

   #quiz-game-next {
    margin-bottom: 50px;
   }

   .quiz-complete {
    color:black;
    font-size: 500%;
    font-weight: bold;
    text-align: center;
   }

   .quiz-complete-answer {
    font-size: 250%;
    font-weight: bold;
    text-align: center;
   }

   #gameOver {
    font-family: var(--primary-font);
    color: red;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    min-height: 300px;
   }
  /*Contact us page*/ 
    #form {
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
    }
    
    #contact-us-form {
            background-color: #fff;
            color: #333;
            padding: 30px 40px;
            border-radius: 10px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 500px;
          }

    #form label {
      text-align: left;
   }

    #form-submit-button {
        margin-top: 30px;
        padding-bottom: 30px;
    }

    .contact-info {
        padding-top: 20px;
        display: flex;
        gap: 20px; /* space between the inputs */
        flex-wrap: wrap; /* allows stacking on smaller screens */
        justify-content: center;   /* centers horizontally */
        align-items: center;       /* centers vertically (optional) */
        text-align: center; 
    }

    /*404 page*/
    #error-page {
        display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       text-align: center;
      }

      #error-page img {
        width: 600px;
        height: 600px;
      }

   /*Footer*/
#social-medias {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    }

    #social-medias i {
        color: #000
    }


/*Media Queries*/
/* Media query: phones (320px and up) */
@media screen and (min-width: 320px) {
    /*Home page*/
    .logo-homepage {
     text-align: center;
     font-size: 325%;
    }

    #logo {
        font-size: 90%;
    }

    #home-page {
        font-size: 90%;
    }

    /*About us page*/
    .about-us-section p {
        font-size: 75%;
    }

    .card-text {
        font-size: 80%;
    }
    
    /*Quiz game page*/
    #question {
        font-size: 120%;
    }

    .btn {
        font-size: 12px; 
        min-height: 10px;
      }


    .quiz-complete {
        font-size: 200%;
    }
    
   .game-over {
    font-size: 75%;
   }

   #game-over-img {
    height: 200px;
    width: 300px;
   }

   #game-over-score {
    font-size: 50%;
   }

   /*Contact us page*/ 
   #contact h2 {
    font-size: 85%;
   }

   #contact h3 {
    font-size: 70%;
   }
 
   #form label {
    margin-left: 10px;
   }

   .form-control {
    margin-left: 10px;
   }
   
   #contact-us-form {
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 85%;
    max-width: 200px;
    text-align: left;
  }
  /*404 Page*/ 
  #error-page { 
    font-size: 150%;
    padding-top: 30px;
    text-align: center;
   }

#error-page img {
    width: 200px;
    height: 200px;
}
   }
    
    /* Media query: large or landscape phones (576px and up) */
    @media screen and (min-width: 576px) {
          
        #logo {
            font-size: 150%;
        }
        
        /*Contact us page*/
          #contact-us-form {
            background-color: #fff;
            color: #333;
            padding: 20px 30px;
            border-radius: 5px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 400px;
          }

        #form-submit-button {
        margin-top: 30px;
        padding-bottom: 30px;
          }

    .contact-info {
        padding-top: 20px;
        display: flex;
        gap: 20px; /* space between the inputs */
        flex-wrap: wrap; /* allows stacking on smaller screens */
        justify-content: center;   /* centers horizontally */
        align-items: center;       /* centers vertically (optional) */
        text-align: center; 
    }
    }
    
    /* Media query: tablets and larger (768px and up) */
    @media screen and (min-width: 768px) {
        #logo {
            font-size: 200%;
        }
        
        /*About us page*/
        .about-us-section p {
        max-width: 500px;      /* Limits line length for better readability */
        line-height: 1.2;      /* Adds space between lines */
        margin: 20px auto;     /* Adds spacing around and centers paragraph */
        font-size: 95%;       /* Adjust to suit your design */    
        word-wrap: break-word;
       }
     
       .card-title {
        font-size: 95%;
       }

    .card-text {
       font-size: 80%;
    }
  
    /*Contact page*/
    #contact h2 {
        font-size: 100%;
       }
    
       #contact h3 {
        font-size: 85%;
       }
    }
    
    /* Large devices (laptops and desktops, 992px and up) */
    @media screen and (min-width: 992px) {   
        #logo {
            font-size: 250%;
        }

        
        
        /*Contact us page*/
        #contact-us-form {
            background-color: #fff;
            color: #333;
            padding: 30px 40px;
            border-radius: 10px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 500px;
          }

    #form-submit-button {
        margin-top: 30px;
        padding-bottom: 30px;
    }

    .contact-info {
        padding-top: 20px;
        display: flex;
        gap: 20px; /* space between the inputs */
        flex-wrap: wrap; /* allows stacking on smaller screens */
        justify-content: center;   /* centers horizontally */
        align-items: center;       /* centers vertically (optional) */
        text-align: center; 
    }

        }